[Desktop Entry]
Name=Materia Dark
X-KDE-PluginInfo-Name=Materia-Dark
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Email=varlesh@gmail.com
