[Desktop Entry]
Name=Materia
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=varlesh@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Materia
X-KDE-PluginInfo-Version=1.0
